@import '../../styles/variables.scss';

.menu {
  display:flex;
  align-items: center;
  justify-content: left;
  margin-left: -25px;
  cursor: pointer;

  .logo{
    width: 100px;
    height: 100px;
  }
}

  


