@import "../../styles/variables.scss";
$greendefault: #279d2e;
.product-card {
  width: 100%;
  max-width: 300px;
  min-height: 415px;
  text-align: center;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
  justify-content: center;
  display: flex;
  margin: auto 1rem;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 20px black;
  }

  a {
    text-decoration: none;
    width: 100%;
  }

  .img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }

  .title-product {
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    color: #3c3c3b;
    margin: 1rem 0;
    text-transform: capitalize;
    height: 70px;
  }

  .price-product {
    font-size: 28px;
    line-height: 28px;
    color: $greendefault;
    font-weight: 500;
  }

  p {
    margin: 0;
  }

  hr {
    position: absolute;
  }
}
