$primaryColor: #e86412;
$onPrimary:#571f00;
$primaryContainer:#7b2f00;
$onPrimaryContainer:#ffdbcc;
$secondaryColor: #a5c8ff;
$onSecondary:#00315e;
$secondaryContainer:#004785;
$onSecondaryContainer:#d4e3ff;
$tertiaryColor: #ffade4;
$onTertiary:#58124a;
$tertiaryContainer:#732a62;
$onTertiaryContainer:#ffd7ef;
$backgroundColor:  #ebebeb;
$navbarBackground: #f09861;