@import "../../styles/variables";

.navbar-section {
  background-color: white;
.cart-button{
  cursor: pointer;
  width: 30px;
  height: 40px;
  background-color: transparent;
  .cart-icon {
        border: none;
        cursor: pointer;
       
      }
}
  .navbar-top {
    padding-top: 2rem;

    .login-register {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .login-button,
      .register-button {
        cursor: pointer;
        padding: 6px 16px;
        border: none;
        min-width: 100px;
      }

      .register-button {
        background-color: $primaryColor;
      }

      .login-button:hover {
        background-color: $primaryColor;
        transform: scale(1.1);
      }
      .register-button:hover {
        background-color: $primaryColor;
        transform: scale(1.1);
      }
      
      
    }
  }
}
@media only screen and (max-width: 600px){
  
}