@import "../../styles/variables";


  // mobile 

  @media (max-width:991px) {

    .navbar-bottom{
      display: none !important ;
    }

    .login-register {
      display: none !important;
    }

    .burger-menu{
     
      margin-right: 7px;
      
    }
  }

.navbar-section {
  background-color: white;
.cart-button{
  cursor: pointer;
  width: 55px;
  height: 45px;
  background-color: transparent;
  .cart-icon {
        border: none;
        cursor: pointer;
       
      }
}
  .navbar-top {
    padding-bottom: 1rem;

    @media (min-width:992px) {
    .burger-menu{
      display: none;
      
    }
    }
    .login-register {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .login-button,
      .register-button {
        cursor: pointer;
        padding: 6px 16px;
        border: none;
        min-width: 100px;
      }

      .register-button {
        background-color: $primaryColor;
      }

      .login-button:hover {
        background-color: $primaryColor;
        transform: scale(1.1);
      }
      .register-button:hover {
        background-color: $primaryColor;
        transform: scale(1.1);
      }
      
      
    }
  }

}
@media only screen and (max-width: 600px){
  
}