@import '../../styles/variables.scss';

.home-section{
    background: $backgroundColor;
}

.modal{
    &-dialog{
        position: absolute;
        right: 0;
        height: 100%;
        margin: 0;
        min-width: 300px;

        .modal-content{
            height: 100vh;
        }
    }
}
